<div class="body">
<div class="ms-Grid-row">
   <!-- App navigation bar markup. -->
   <div class="ms-NavBar">
      <ul class="ms-NavBar-items">
         <li class="navbar-header">Office 365 Connect sample</li>
         <li class="ms-NavBar-item ms-NavBar-item--right" onclick="window.location.href='disconnect'"><i class="ms-Icon ms-Icon--x"></i> Disconnect</li>
      </ul>
   </div>
<br/>
<br/>
<h1>Error Logout , try disconnecting again . </h1>
<div class="message">{{LogoutMessage}}</div>
	
</div>